.navbarz{

    width: 100%;
    --border-style: solid;
    display: flex;
    flex-direction: row;
justify-content: space-between;
}

ul{
    display: flex;
    flex-direction: row;

}
li{
    padding-left: 30px;
}
#root{
margin-top: 50px;
}